@{
    ViewData["Title"] = "Cerrar Sesiones";
}

<h1>Cerrar Sesiones</h1>
<p>¿Deseas cerrar todas las sesiones activas?</p>
<form asp-action="CerrarSesiones" method="post" class="my-4">
    <button type="submit">Cerrar Todas</button>
</form>

