@{
    ViewData["Title"] = "Notificaciones de Mantenimiento";
}

<h1 class="text-center my-4">Notificaciones de Mantenimiento</h1>
<div class="container">
    <ul class="list-group my-4">
        <li class="list-group-item">El camión <strong>ABC123</strong> requiere mantenimiento el <strong>2024-01-01</strong>.</li>
    </ul>
</div>
